* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    outline: none;

    font-family: sans-serif;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}
