$x-light-gray: #747474;

.img {
    width: 100%;
}

.Info__description {
    margin-top: 0.4rem;
    margin-bottom: 1rem;
}

.description__title {
    font-size: 1.4rem;
}

.description__content {
    margin: 1rem 0;
}

.content {
    color: $x-light-gray;
    line-height: 1.4rem;
    font-size: 1rem;
}
