$x-light-orange: #fb8d00;
$x-color-white: #ffffff;

.header{
    background-color: $x-light-orange;
    box-shadow: 0 0.1rem 0.5rem rgba(0,0,0,0.1);
}

.header__row {
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.list {
    list-style-type: none;
    font-size: 1rem;
    line-height: 1.25rem;
}

.list__item {
    margin: 0 0.7rem;
}

.header__list {
    display: flex;
}

.link-theme {
    padding: 0.6rem 1rem;
    border: 1px solid $x-light-orange;
    border-radius: 0.5rem;
    
    &:hover {
        border: 1px solid $x-color-white;
    }
}

.link {
    text-decoration: none;
    transition: 0.3s;
    color: $x-color-white;
}

.link_active {
    background-color: $x-color-white;
    color: $x-light-orange;
    border-radius: 0.5rem;

    &:hover {
        border: 1px solid $x-light-orange;
    }
}

.logo {
    height: 5rem;
    margin-right: 1.2rem;
}

.cart__link {
    background-color: $x-color-white;
    border: 1px solid $x-color-white;
    color: $x-light-orange;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0.1rem 0.7rem rgba(0,0,0,0.15);
    }
}