$x-light-orange: #fb8d00;
$x-color-white: #ffffff;

.Select {
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__amount {
        box-sizing: border-box;
    }
}

.pizza-amount {
    width: 2rem;
    padding: 0.2rem 0.4rem;
    text-align: center;
}

.button-item {
    margin: 0 0.6rem;
    border-radius: 0.6rem;
    border: 1px solid $x-light-orange;
    padding: 0.5rem 1rem;
    transition: 0.3s;
}

.theme-button {
    background: none;
    color: $x-light-orange;

    &:hover {
        background-color: $x-light-orange;
        color: $x-color-white;
    }
}
